.challenge-section-container{
    min-height: 90vh;
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.challenge-section-header{
    color: #fbf6fb;
    text-align: center;
    font-family: "Bangers",cursive;
    font-size: 64px;
    letter-spacing: 4px;
}